/**
 * This file provides styles for the edit view (?do=edit), preview
 * and section edit buttons.
 */

/* edit view
********************************************************************/

.dokuwiki div.editBox {
}

/*____________ toolbar ____________*/

.dokuwiki div.toolbar {
    display: inline-block;
    margin-bottom: .5em;
}
#draft__status {
    float: right;
    color: @ini_text_alt;
    background-color: inherit;
}
[dir=rtl] #draft__status {
    float: left;
}
#tool__bar {
    float: left;
}
[dir=rtl] #tool__bar {
    float: right;
}

/* buttons inside of toolbar */
.dokuwiki div.toolbar button.toolbutton {
}
/* picker popups (outside of .dokuwiki) */
div.picker {
    width: 300px;
    border: 1px solid @ini_border;
    background-color: @ini_background_alt;
    color: inherit;
}
/* picker for headlines */
div.picker.pk_hl {
    width: auto;
}

/* buttons inside of picker */
div.picker button.pickerbutton,
div.picker button.toolbutton {
    padding: .1em .35em;
    border: solid 1px @ini_border;
    background-color: var(--color-dark-6);
}

div.picker {
    background-color: var(--color-dark-7);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

div.picker button.pickerbutton:hover,
div.picker button.toolbutton:hover {
    background-color: var(--color-dark-5);
}

/*____________ edit textarea ____________*/

.dokuwiki textarea.edit {
    width: 100%;
    margin-bottom: .5em;
    resize: vertical;
}

.dokuwiki textarea.edit:focus,
.dokuwiki textarea.edit:active {
    outline: none;
}

/*____________ below the textarea ____________*/

.dokuwiki div.editBar {
    overflow: hidden;
    margin-bottom: .5em;
}

#edbtn__save {
    margin: 0;
    margin-right: 0.5rem;
}

#edbtn__preview {
    color: var(--color-blue-4);
    background-color: transparent;
    border: solid 1px var(--color-blue-4);
    margin-right: 0.5rem;
}

#edbtn__preview:hover {
    background-color: rgba(77,171,247,.05);
}

button[name="do[cancel]"] {
    color: var(--color-gray-4);
    background-color: transparent;
    border-color: transparent;
}

button[name="do[cancel]"]:hover {
    background-color: hsla(210,7%,56%,.2);
}

/* size and wrap controls */
#size__ctl {
    float: right;
}
[dir=rtl] #size__ctl {
    float: left;
}
#size__ctl img {
    cursor: pointer;
}

/* edit buttons */
.dokuwiki .editBar .editButtons {
    display: inline;
    margin-right: 1rem;
}
[dir=rtl] .dokuwiki .editBar .editButtons {
    margin-right: 0;
    margin-left: 1em;
}
.dokuwiki .editBar .editButtons button {
}

/* summary input and minor changes checkbox */
.dokuwiki .editBar .summary {
    display: inline;
}
.dokuwiki .editBar .summary label {
    vertical-align: middle;
    white-space: nowrap;
}
.dokuwiki .editBar .summary label span {
    vertical-align: middle;
}
.dokuwiki .editBar .summary input {
    padding: 0.3125rem 0.5rem;
}
.dokuwiki .editBar .summary input:focus {
    outline: none;
}
/* change background colour if summary is missing */
.dokuwiki .editBar .summary input.missing {
    color: @ini_text;
    border-color: var(--color-red-8);
}

/* preview
********************************************************************/

.dokuwiki div.preview {
    border: solid 0px @ini_border;
    border-top-width: 1px;
    padding: 1.4em 0;
    margin-bottom: 1.4em;
}

.dokuwiki.hasSidebar div.preview {
    border: 0px !important;
}

/* section edit buttons
********************************************************************/

.dokuwiki .secedit {
    float: right;
    margin-top: -1.5em;
}
[dir=rtl] .dokuwiki .secedit {
    float: left;
}
.dokuwiki .secedit button {
    font-size: 75%;
    padding: 0.25rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: var(--color-gray-8);
    border-color: var(--color-gray-8);
    font-weight: bold;
}

.dokuwiki .secedit button:hover {
    background-color: var(--color-gray-7);
    border-color: var(--color-gray-7);
}

/* style for section highlighting */
.dokuwiki div.section_highlight {
    margin: 0 -1em; /* negative side margin = side padding + side border */
    padding: 0 .5em;
    border: solid @ini_background_alt;
    border-width: 0 .5em;
    background-color: @ini_background_alt;
}
