/**
 * This file provides the styles for the file uploader
 * used in the media manager (both fullscreen and popup).
 */

.qq-uploader {
    position: relative;
    width: 100%;
}

.qq-uploader .error {
    color: #f00;
    background-color: #fff;
}

/* select file button */

.qq-upload-button {
    display: inline-block;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    margin: 1px 1px 5px;
    background-color: rgba(34,139,230,.15);
    border: solid 1px transparent;
    color: var(--color-blue-3);
}

.qq-upload-button-focus {
    outline: none;
}

.qq-upload-button:hover {
    background-color: rgba(34,139,230,.2);
    border: solid 1px transparent;
}

/* drop area */

.qq-upload-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 70px;
    z-index: 2;
    background: var(--color-dark-6);
    color: @ini_text;
    text-align: center;
    border-radius: 0.25rem;
}

.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 120%;
    color: var(--color-white);
}

.qq-upload-drop-area-active {
    background: var(--color-dark-7);
}

.qq-upload-drop-area-active span {
    color: var(--color-gray-1);
}

/* list of files to upload */

div.qq-uploader ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.qq-uploader li {
    margin: 0 0 5px;
    color: @ini_text;
}

.qq-uploader li span,
.qq-uploader li input,
.qq-uploader li a {
    margin-right: 5px;
}

.qq-uploader li input {
    padding: 0.3125rem 0.5rem;
}

.qq-uploader li input:focus {
    outline: none;
}

.qq-upload-file {
    display: block;
    font-weight: bold;
}

.qq-upload-list li:hover {
    background-color: @ini_background !important;
}

.qq-upload-spinner {
    display: inline-block;
    background: url("../../images/throbber.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-upload-size,
.qq-upload-cancel {
    font-size: 85%;
}
.qq-upload-cancel {
    text-transform: capitalize;
    color: var(--color-red-3) !important;
    font-weight: bold;
}
.qq-upload-cancel:hover {
    text-decoration: none !important;
    color: var(--color-red-4) !important;
}

.qq-upload-failed-text {
    display: none;
}
.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}

.qq-action-container * {
    vertical-align: middle;
}
.qq-overwrite-check input {
    margin-left: 10px;
}
