/**
 * This file provides styles for the recent changes (?do=recent) and
 * old revisions (?do=revisions).
 */

/*____________ list of revisions / recent changes ____________*/

/* select type of revisions (media/pages) */
.dokuwiki .changeType {
    margin-bottom: .5em;
}

.dokuwiki form.changes ul li {
    list-style: none;
    margin-left: 0;
}
[dir=rtl] .dokuwiki form.changes ul li {
    margin-right: 0;
}
.dokuwiki form.changes ul li span,
.dokuwiki form.changes ul li a {
    vertical-align: middle;
}
.dokuwiki form.changes ul li span.user a {
    vertical-align: bottom;
}
.dokuwiki form.changes ul li.minor {
    opacity: .7;
}

.dokuwiki form.changes li span.date {
}
.dokuwiki form.changes li a.diff_link {
    vertical-align: baseline;
}
.dokuwiki form.changes li a.revisions_link {
    vertical-align: baseline;
}
.dokuwiki form.changes li a.wikilink1,
.dokuwiki form.changes li a.wikilink2 {
}
.dokuwiki form.changes li span.sum {
    font-weight: bold;
}
.dokuwiki form.changes li span.user {
}

/*____________ size differences ____________*/

.dokuwiki form.changes li .sizechange {
    font-size: 80%;
    border-radius: .2em;
    padding: .1em .2em;
    /* cannot use non-guaranteed style.ini colour placeholders, dark templates need to overwrite */
    background-color: #ddd;
}

.dokuwiki form.changes li .sizechange.positive {
    background-color: rgba(64,192,87,.15);
    color: var(--color-green-3);
}
.dokuwiki form.changes li .sizechange.negative {
    background-color: rgba(250,82,82,.15);
    color: var(--color-red-3);
}

/*____________ page navigator ____________*/

.dokuwiki div.pagenav {
    text-align: center;
    margin: 1.4em 0;
}
.dokuwiki div.pagenav-prev,
.dokuwiki div.pagenav-next {
    display: inline;
    margin: 0 .5em;
}

#page__revisions ul li {
    padding: 0.25rem 0;
}

/* diff custom icon */

.dokuwiki form.changes li a.diff_link,
.dokuwiki form.changes li a.revisions_link {
    vertical-align: middle;
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.dokuwiki form.changes li a.diff_link img,
.dokuwiki form.changes li a.revisions_link img {
    display: none;
}

.dokuwiki form.changes li a.diff_link::before,
.dokuwiki form.changes li a.revisions_link::before {
    width: 16px;
    height: 16px;
}

.dokuwiki form.changes li a.diff_link::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stereo-glasses" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="%23696969" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 3h-2l-3 9" /><path d="M16 3h2l3 9" /><path d="M3 12v7a1 1 0 0 0 1 1h4.586a1 1 0 0 0 .707 -.293l2 -2a1 1 0 0 1 1.414 0l2 2a1 1 0 0 0 .707 .293h4.586a1 1 0 0 0 1 -1v-7h-18z" /><path d="M7 16h1" /><path d="M16 16h1" /></svg>');
}
.dokuwiki form.changes li a.diff_link:hover::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stereo-glasses" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="%23828282" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 3h-2l-3 9" /><path d="M16 3h2l3 9" /><path d="M3 12v7a1 1 0 0 0 1 1h4.586a1 1 0 0 0 .707 -.293l2 -2a1 1 0 0 1 1.414 0l2 2a1 1 0 0 0 .707 .293h4.586a1 1 0 0 0 1 -1v-7h-18z" /><path d="M7 16h1" /><path d="M16 16h1" /></svg>');
}

.dokuwiki form.changes li a.revisions_link::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-share" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="%23696969" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20.943 13.016a9 9 0 1 0 -8.915 7.984" /><path d="M16 22l5 -5" /><path d="M21 21.5v-4.5h-4.5" /><path d="M12 7v5l2 2" /></svg>');
}
.dokuwiki form.changes li a.revisions_link:hover::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-share" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="%23828282" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20.943 13.016a9 9 0 1 0 -8.915 7.984" /><path d="M16 22l5 -5" /><path d="M21 21.5v-4.5h-4.5" /><path d="M12 7v5l2 2" /></svg>');
}