/**
 * This file provides the styles for the page tools
 * (fly out navigation beside the page to edit, etc).
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */

#dokuwiki__site > .site {
    /* give space to the right so the tools won't disappear on smaller screens */
    /* it's 40px because the 30px wide icons will have 5px more spacing to the left and right */
    padding-right: 40px;
    /* give the same space to the left to balance it out */
    padding-left: 40px;
}

.dokuwiki div.page {
    height: 190px;
    min-height: 190px; /* 30 (= height of icons) x 6 (= maximum number of possible tools) + 2x5 */
    height: auto;
}

#dokuwiki__pagetools {
    @ico-width: 28px;
    @ico-margin: 8px;
    @item-width: (@ico-width + @ico-margin + @ico-margin);
    @item-height: (@ico-width + @ico-margin);

    position: absolute;
    right: (-1 * @item-width);
    /* on same vertical level as first headline, because .page has 2em padding */
    top: 2em;
    width: @item-width;

    div.tools {
        position: fixed;
        width: @item-width;

        ul {
            position: absolute;
            right: 0;
            text-align: right;
            margin: 0;
            padding: 0;
            /* add transparent border to prevent jumping when proper border is added on hover */
            border: 1px solid transparent;
            z-index: 10;

            li {
                padding: 0;
                margin: 0;
                list-style: none;
                font-size: 0.875em;

                a {

                    display: block;
                    /* add transparent border to prevent jumping when proper border is added on focus */
                    border: 1px solid transparent;
                    white-space: nowrap;
                    line-height: @item-height;
                    vertical-align: middle;
                    height: @item-height;
                    color: var(--color-dark-1);

                    span {
                        display: none; // hide label until hover
                        margin: 0 @ico-margin;
                    }

                    svg {
                        width: @ico-width;
                        height: @ico-width;
                        margin: 0 @ico-margin;
                        display: inline-block;
                        vertical-align: middle;
                        fill: var(--color-dark-1);
                    }
                }

                // on interaction show the full item
                a:active,
                a:focus,
                a:hover {
                    background-color: var(--color-dark-6);
                    color: var(--color-blue-4);

                    span {
                        display: inline-block;
                    }

                    svg {
                        fill: @ini_link;
                    }
                }
            }
        }
    }

    [dir=rtl] & {
        right: auto;
        left: (-1 * @item-width);

        div.tools {
            ul {
                right: auto;
                left: 0;
                text-align: left;
            }
        }
    }
}

// on hover or focus show all items
#dokuwiki__pagetools:hover, #dokuwiki__pagetools:focus-within {
    div.tools ul {
        background-color: var(--color-dark-7);
        border-color: @ini_border;
        border-radius: 0.25rem;

        li a span {
            display: inline-block;
        }
    }
}

/* icons */

#dokuwiki__pagetools div.tools ul li:first-child a {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
#dokuwiki__pagetools div.tools ul li:last-child a {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

a[title="Edit this page [e]"],
a[title="Old revisions [o]"],
a[title="Backlinks"],
a[title="Back to top [t]"],
a[title="Show page [v]"] {
    position: relative;
}
a[title="Edit this page [e]"] svg,
a[title="Old revisions [o]"] svg,
a[title="Backlinks"] svg,
a[title="Back to top [t]"] svg,
a[title="Show page [v]"] svg {
    display: none !important;
}
a[title="Edit this page [e]"]::after,
a[title="Old revisions [o]"]::after,
a[title="Backlinks"]::after,
a[title="Back to top [t]"]::after,
a[title="Show page [v]"]::after {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    width: 28px;
    height: 28px;
    text-align: center;
}


a[title="Edit this page [e]"]::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>');
}
a[title="Edit this page [e]"]:hover::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%234dabf7" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>');
}

a[title="Old revisions [o]"]::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20.993 11.646a9 9 0 1 0 -9.318 9.348" /><path d="M12 7v5l1 1" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M20.2 20.2l1.8 1.8" /></svg>');
}
a[title="Old revisions [o]"]:hover::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%234dabf7" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20.993 11.646a9 9 0 1 0 -9.318 9.348" /><path d="M12 7v5l1 1" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M20.2 20.2l1.8 1.8" /></svg>');
}

a[title="Backlinks"]::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>');
}
a[title="Backlinks"]:hover::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%234dabf7" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>');
}

a[title="Back to top [t]"]::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-chevron-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 13l3 -3l3 3" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>');
}
a[title="Back to top [t]"]:hover::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-chevron-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%234dabf7" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 13l3 -3l3 3" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /></svg>');
}

a[title="Show page [v]"]::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23b8b8b8" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /></svg>');
}
a[title="Show page [v]"]:hover::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="%234dabf7" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /></svg>');
}